[Unit]
Description=SafeDataFlow Bank Parser
After=network.target

[Service]
Type=simple
WorkingDirectory=/root
ExecStart=/usr/bin/java -jar /root/bank-parser.jar --server.port=8080
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
